@import url('https://fonts.google.com/specimen/Open+Sans');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
.card-container {
  background-color: rgba(216, 245, 245, 1);
  padding: 50px;
  justify-content: center;
}
.first-headings {
  /* border: 2px solid ; */
  font-size: 3.2vh;
}
.card-boxes {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* border: 2px solid blue; */
  width: 100%;
}
.sara-image {
  /* border: 2px solid; */
  width: 20%;
}
.avatar-details {
  /* border: 2px solid red; */
  font-size: 1.8vh;
  padding-top: 5px;
}
.name {
  font-size: 1.8vh;
  font-weight: 700;
  margin-bottom: 3px;
}
.link {
  font-size: 1.5vh;
  color: rgb(131, 130, 130);
}
.twitter-box {
  /* border: 2px solid blueviolet; */
  padding-top: 5px;
  padding-right: 5px;
}
.avatar-info {
  display: flex;
  /* border: 2px solid greenyellow; */
  justify-content: space-between;
  margin-left: 8px;
  padding-top: 8px;
  width: 100%;
}
.avatar-twitter {
  display: flex;
  /* border: 3px solid blue; */
}
.card {
  /* border: 2px solid red; */
  margin-right: 30px;
  padding: 20px;
  background-color: white;
  height: 100%;
  width: 50%;
}
.fa-twitter {
  color: rgba(29, 173, 235, 1);
  font-size: 32px;
}
.headline-one,
.headline-two,
.headline-three {
  /* border: 2px solid green; */
  margin-top: 20px;
  line-height: 24px;
  font-size: 1.6vh;
  color: rgb(131, 130, 130);
}
.heart-date {
  margin-top: 15px;
  /* border: 2px solid blue; */
  font-size: 1.8vh;
  display: flex;
  justify-content: space-between;
  color: rgb(131, 130, 130);
}
.fa-heart {
  color: red;
  font-size: 18px;
  margin-right: 5px;
}
.bottom-container {
  text-align: center;
  /* border: 2px solid red; */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.simple {
  text-align: center;
  margin-bottom: 20px;
  /* border: 2px solid ; */
  font-size: 3.2vh;
}
.growing {
  line-height: 24px;
  font-size: 1.8vh;
  color: rgb(131, 130, 130);
}
.monthly-container {
  border: 2px solid rgba(252, 185, 111, 1);
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  padding: 30px 30px 30px 30px;
  background-color: rgba(251, 248, 243, 1);
  border-radius: 12px;
}
.word-one {
  font-size: 1.8vh;
  color: rgb(131, 130, 130);
}
.word-two {
  font-weight: 700;
  font-size: 32px;
}
.mo {
  font-size: 2.5vh;
  font-weight: 100;
  color: rgb(131, 130, 130);
}
.middle-box {
  border-top: 2px solid rgb(184, 183, 182);
  border-bottom: 2px solid rgb(184, 183, 182);
  padding: 20px 0px 10px 0px;
  margin: 20px 0px 20px 0px;
}
.mark-one {
  margin-bottom: 18px;
  display: flex;
}
.fa-circle-check {
  color: rgba(59, 215, 175, 1);
  font-size: 24px;
  margin-right: 20px;
}
.mark-word {
  font-size: 1.8vh;
  color: rgb(131, 130, 130);
}
.trial-btn {
  /* border: 3px solid purple; */
  display: flex;
  justify-content: center;
  padding: 24px;
  background-color: rgba(29, 173, 235, 1);
  color: white;
  margin-top: 10px;
  font-size: 2vh;
}
.trial-twitter {
  color: white;
  margin-right: 30px;
}
.trial-words {
  padding-top: 8px;
}
